@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat+Alternates:wght@500&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 1.5em;
}

.titulo-fullstack, .linguagem {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    background: linear-gradient(45deg, #8B0000, #FF1493, #FF6347,#FFD700);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    outline: none;
}

.linguagem {
    font-size: 1.5em;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.desc-curta {
    opacity: 90%;
}

.cursor {
    margin-top: 5%;
    height: 15vh;
    width: auto;
}


/* botões */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: solid 1px #A9A9A9;
    outline: none;
    color: #111;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 6px;
    margin-right: 12px;
    margin-top: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 6px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 6px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Sobre mim */

.sobre-mim {
    padding-left: 8%;
    padding-right: 8%;
}

.txt-estudos {
    font-weight: bold;
}

.row {
    padding: 30px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.txt {
    text-align: left;
}

.img-sobre-mim {
    height: 320px;
    width: auto;
}

.projetos {
    padding-left: 8%;
    padding-right: 8%;
}

.card-h1 {
    float: left !important;
    margin-left: -300px;
}
